@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@600&display=swap');

*{
    font-family: 'Source Sans Pro', sans-serif;
    box-sizing: border-box;
}

body {
    margin: 0px;
    padding: 0px;

}

#first {
    width: 100%;
    height: 20vh;
    position: relative;
}

nav {

    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #222527;
    box-shadow: 5px 10px 30px rgba(0, 0, 0, 0.02);
    z-index: 1;

}

.logo img{
    height: 50px;
    
}

ul{
    list-style: none;
    display: flex;
}
.menu li a{
    height: 40px;
    line-height: 40px;
    margin: 3px;
    padding: 0px 22px;
    display: inline-block;
    font-size: 0.9em;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 1px;
    color: white;


}

a{
    text-decoration: none;
}
.hey img {
height: 30px;

}
.image{
    width: 500px;
    height: 500px;

}
.image img{
    width: 100%;
    height: 100%;
    object-fit: contain;


}
.content{
    display: flex;
    width: 90%;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    left: 5%;
    right: 5%;

}

.main-text{
    width: 500px;
    
}
.main-text h1{
    font-size: 3.5em;
    color: #222527;
    margin: 0px 0px 10px 0px;
    line-height: 60px;

}

.main-text p {
    color: grey;
}


.btn{
   width: 190px;
   height: 44px;
   display: flex;
   justify-content: center;
   align-items: center;
   color: white;
   background-color: rgb(255, 0, 68);
   border-radius: 4px;
   overflow: hidden;
   box-shadow: inset 0 0 0 0 #f9e506;
   transition: ease-out 0.3s;
   font-size: 1.08rem;
   outline: none;

}

.btn:hover{
    box-shadow: inset 190px 0 0 0 #f9e506;
    cursor: pointer;
    color: #000;

}

.menu li a:hover{
    color: yellow;
}

.menu li a::after{
    content: '';
    display: block;
    width: 0%;
    height: 2px;
    background-color: yellow;
    transition: width 0.3;
}


.menu li a:hover::after{
    width: 100%;
    transition: width 0.3s;

}

.section2 {
    width: 100%;
    height: 60vh;
    position: relative;
    top: 600px;
    background-color: #48b8b8;
    margin-bottom: 20px;

    
}
.bg {
    width: 90%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    left: 50px;
    top: 50px;
    color: white;

}

.bg2 {
    width: 90%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    left: 68px;
    text-align: center;
    color: white;

}


.menu2 li a{
    height: 20px;
    line-height: 20px;
    margin: 3px;
    padding: 100px 140px;
    display: inline-block;
    font-size: 0.9em;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 1px;
    color: white;


}
.menu2 li a img{
    height: 150px;

}

.section3 {
    width: 100%;
    height: 60vh;
    position: relative;
    top: 600px;
    background-color: #222527;
    padding-bottom: 1%; /* make content inside section3 move */


}
.section3 h1 {
    height: 10px;
    line-height: 1px;
    margin: 3px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 110px 640px;
    display: inline-block;

    text-transform: uppercase;
    font-size: 2.2em;
    color: white;

}

.bg2{
    height: 1px;
    display: flex;
    justify-content: space-around;
    align-items: center;

}
